<div id="step1" class="step">
  <div class="paddingRowHack step-header">
    <div class="paddingLeftHack paddingRightHack">
      <div class="row" style="position: relative;">
        <div class="col-xs-10">
          <div class="title">1. Import Data</div>
          <div class="description">Import a spreadsheet or csv file via a URL of from the cloud. Supported format: <strong>csv, xls and xlsx</strong></div>
        </div>
        <span class="btn-actions">
          <button class="btn btn-primary next-step">Next Step</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row step-content">
    <div class="col-xs-3">
      <div class="radio-selection">
        <label for="data-source-sample"><input type="radio" name="data-source" id="data-source-sample"> Try our sample data</label>
        <label for="data-source-url-apis">
          <input type="radio" name="data-source" id="data-source-url-apis"> Import from URL/APIs
          <ul>
            <li><img src="/assets/icons/dropbox.png"> Dropbox</li>
            <li><img src="/assets/icons/drive.png">Google Drive</li>
            <li><img src="/assets/icons/hdx.ico">HDX</li>
          </ul>
        </label>
      </div>
    </div>
    <div class="col-xs-9 source-custom-url">
      <label for="source-custom-url-field">Enter URL</label>
      <input class="wizard-input" id="source-custom-url-field" placeholder="eg. http://example.com/population-jan-2011.json">
    </div>
  </div>
</div>
