<div id="step1" class="step">
  <div class="paddingDoubleRowHack step-header">
    <div class="paddingDoubleLRHack">
      <div class="row step-header-content">
        <div class="description">
          Import your data as a <strong>CSV, XLS, XLSX, JSON</strong> or <strong>Google Sheet URL</strong>.<br>
          Then, customize your visualisation below.
        </div>
      </div>
      <div class="row" style="position: relative;">
        <div class="col-xs-9">
          <div class="title">{{stepName}}</div>
          <div class="description">
            Supported formats: <strong>CSV, XLS, XLSX, <a href="https://github.com/HXLStandard/hxl-proxy/wiki/JSON-data-format" target="_blank">JSON</a> and Google sheet URL.</strong> Learn more about how to use Quick Charts <a (click)="openModal(dataCheckTemplate)">here</a>. Try <a href="/wizard/datacheck/import">Data Check</a> to make sure your data is clean for Quick Charts
          </div>
        </div>
        <span class="btn-actions">
        </span>
      </div>
    </div>
  </div>
  <div class="row step-content">
    <div class="col-xs-3">
      <div class="radio-selection">
        <label for="data-source-sample"><input type="radio" value="sample" name="data-source" (change)="changeDatasource($event);" [checked]="getWizardConfig().step1Sample" id="data-source-sample"> Try our sample data</label>
        <label for="data-source-url-apis">
          <input type="radio" value="url" name="data-source" (change)="changeDatasource($event);" [checked]="!getWizardConfig().step1Sample" id="data-source-url-apis"> Import from URL/APIs
          <ul>
            <li>
              <a href="javascript:void(0)" hdxDropboxchooser (urlSelect)="updateSelectedUrl($event)">
                <img src="./assets/icons/dropbox.png"> Dropbox
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" hdxGooglepicker (urlSelect)="updateSelectedUrl($event)">
                <img src="./assets/icons/drive.png">Google Drive
              </a>
            </li>
            <li class="disabled"><img src="./assets/icons/hdx.ico">HDX (Coming soon)</li>
          </ul>
        </label>
      </div>
    </div>
    <div *ngIf="getWizardConfig().step1Sample" class="col-xs-9 source-sample-data">
      <div *ngIf="getWizardConfig().hxlCheckError" class="alert alert-danger" role="alert" [innerHTML]="getWizardConfig().hxlCheckError.fullErrorMessage"></div>
      <div *ngFor="let s of sampleData" >
        <label class="sample-item active">
          <input name="sample-data-selection" value="{{ s.url }}" type="radio" [checked]=" (s.url === selectedUrl) ? true : null" (change)="changeSampleUrl(s.url);">
          <span class="sample-content">
          <span class="sample-title">
            {{ s.name }}
          </span>
          <span class="sample-source">
            {{ s.org }}
          </span>
          <span class="sample-date">
            {{ s.url }}
          </span>
        </span>
        </label>
      </div>
    </div>
    <div *ngIf="!getWizardConfig().step1Sample" class="col-xs-9 source-custom-url">
      <div *ngIf="getWizardConfig().hxlCheckError" class="alert alert-danger" role="alert" [innerHTML]="getWizardConfig().hxlCheckError.fullErrorMessage"></div>
      <label for="source-custom-url-field">Enter URL</label>
      <input [(ngModel)]="selectedUrl" name="selectedUrl" class="wizard-input" id="source-custom-url-field" placeholder="eg. http://example.com/population-jan-2011.json">
    </div>
  </div>
  <div class="paddingDoubleRowHack customize-section">
    <div class="paddingDoubleLRHack">
      <div class="row step-content">
        <div class="col-xs-12">
          <div class="title">Customize your Quick Charts:</div>
        </div>
        <div class="col-xs-12">
          <div class="quick-charts-render">
            <iframe #quickChartsIFrame id="quick-charts-iframe" [src]="iFrameUrl" (load)="iFrameLoaded()"
                    style="border:none; width:100%; min-height:520px">
            </iframe>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="data-source">
            Data source: <a target="_blank" [href]="selectedUrl">{{ selectedUrl }}</a>
          </div>
        </div>
        <div class="col-xs-12 share-section">
          <div class="row">
            <div class="col-xs-12">
              <div class="title">Share Quick Charts:</div>
            </div>
            <div class="col-xs-3">
              <div class="section-title">Download:</div>
              <ul>
                <!--<li><a>Download as SVG</a></li>-->
                <li><a (click)="prepareSnapshot($event)">Download as image</a></li>
              </ul>
              <div class="section-title">Push to HDX:</div>
              <ul>
                <li><a class="disabled">Publish data and charts to HDX (coming soon)</a></li>
              </ul>
            </div>
            <div class="col-xs-9">
              <div>
                <ul class="vertical-menu section-title">
                  <li (click)="changeMenuEmbed()">
                    <a *ngIf="!menuEmbed">Embed (Live charts)</a>
                    <span *ngIf="menuEmbed">Embed (Live charts)</span>
                  </li>
                  <li (click)="changeMenuEmbed()">
                    <a *ngIf="menuEmbed">Share URL</a>
                    <span *ngIf="!menuEmbed">Share URL</span>
                  </li>
                </ul>
                <span class="section-title" style="margin-left: 10px">:</span>
              </div>
              <div>
                <textarea id="embedCode" #embedCode class="wizard-input" (click)="prepareShare($event)" readonly [innerText]="menuEmbed ? embedUrl : shareUrl"></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<ng-template #dataCheckTemplate>
    <div class="modal-dialog" role="document">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"> <span aria-hidden="true">&times;</span></button>
      <div class="modal-content">
        <iframe [src]="quickChartsDemoUrl" frameborder="0" width="900" height="560" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    </div>
</ng-template>
